:root {
    --symbol-h: 100px;
}

body {
    background-color: black;
}

#screen {
    grid-area: b;
    display: flex;
}

.symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    height: var(--symbol-h);
}

#balance, #winnings {
    font-size: 24px;
    color: white;
}

.container{
    width: 1000px;
    padding: 50px;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "a a a a a a a"
    "b b b b b b c"
    "b b b b b b c"
    "b b b b b b c"
    "b b b b b b c"
    "d d d d d d d";
}

.title {
    color: white;
    text-align: center;
    grid-area: a;
}

#spin-button {
    grid-area: c;
    width: 100px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.player-bar {
    grid-area: d;
    display: flex;
    gap: 50px;
}

#bet-select {
    display: flex;
    flex: 1 1 30%;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
.bet-amount {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 50px;
}

.reel {
    width: 150px;
    height: calc(var(--symbol-h) * 3);
    overflow: hidden;
} 

.strip{
    display: flex;
    flex-direction: column;
    transition: transform 1.5s ease-in;
}